.section {
  display: block;
  width: 100%;
}

.preview {
  display: block;
  width: 928px;
  height: 310px;
  margin: 0 auto;
}

.text {
  color: rgb(63, 63, 63);
  font-family: Roboto;
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 6%;
  text-align: center;
}

.collection {
  position: relative;
}

.collection_groups {
  width: 100%;
  max-width: 1440px;
  margin-top: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection_groups:nth-child(2) {
  margin-top: 0;
  margin-left: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 109px;
  height: 109px;
  border-radius: 188px;
  background-color: #3f3f3f;
  cursor: pointer;
}

.collection_group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 98px;
}

.collection_button_text {
  margin-left: 30px;
  max-width: 335px;
  color: rgb(63, 63, 63);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 6%;
}

.collection_img {
  width: 730px;
  height: 500px;
}
